/* General */

html, body, footer, main {
    font-family: Consolas, "Courier New", monospace;
    word-wrap: normal;
    margin: 0;
    padding: 0;
    font-size: 105%;
    color: white;
}

h1 {
    text-shadow: 3px 3px 3px black;
}

a {
    color: rgb(92, 190, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(181, 225, 255);
}

main {
    position: fixed;
    width: 100%;
    height: 100%;
}

aside {
    position: fixed;
    z-index: 150;
    opacity: 0.95;
    width: 100%;
    text-align: right;
    text-shadow: 0.2px 0.2px 0.2px black;
    font-size: 1.0em;
    padding: 10px;
}

p.author {
    text-shadow: 0.3px 0.3px 0.3px black;
    font-size: 0.75em;
    position: fixed;
    bottom: 1%;
    left: 2%;
}


/* Result page */

div.content {
    max-width: 800px;
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.darkness {
    background: black;
    opacity: 0.7;
    border-radius: 15px;
    padding: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 20px;
    box-shadow: 3px 3px 15px 15px black;
}

div.forecast-card {
    height: 120px;
    width: 155px;
}

section.forecast {
    width: 100%;
}

p.general {
    text-shadow: 1px 1px 1px black;
    font-size: 115%;
    font-weight: bold;
}

p.back {
    text-shadow: 0.5px 0.5px 0.5px black;
    margin-top: 10px;
}

span.temperature {
    font-size: 650%;
}

span.skytext {
    font-size: 200%;
    font-weight: bold;
    margin: -10px;
}

span.information {
    font-size: 105%;
    font-weight: bold;
}

span.card-day {
    color: white;
    font-weight: bold;
    font-size: 105%;
}

#icily {
    color: rgb(153, 239, 250);
}

#hot {
    color: rgb(248, 191, 158);
}


/* Informations and errors */

div.information {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    text-shadow: 1.2px 1.2px 1.2px black;
}

p.information-description {
    font-size: 1.2em;
}


/* Forms */

input.place {
    text-align: center;
    opacity: 0.85;
    margin: 0 auto;
    width: 45%;
    background-color: #e2e5ebb2;
    border-color: #17a2b8;
    min-width: 300px;
    color: #0d0d0e;
}

input.place:focus {
    background-color: #17a2b8;
    color: white;
}


/* Footer */

footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    height: 1.5rem;
    opacity: 0.8;
    text-shadow: 0.2px 0.2px 0.2px black;
    font-size: 0.8em;
    width: 100%;
    text-align: center;
}

footer:hover span.footer-visible {
    display: none;
}

footer:hover span.footer-hovered {
    display: inline-block;
}

footer span.footer-hovered {
    display: none;
}